.circle {
	width: auto;
	height: 23px;
	text-align:top;
	float: right;
	background: #ffff00;
	color: #fff;
	color: black;
	padding-top: 3px;
	margin-right: -15px;
	margin-top: -10px;
	border-bottom-left-radius: 500%;
	font-size: 11px;
	padding-left: 12px;
	padding-right: 7px;
}

.panel_heading_bg {
	background-color: #122c5f !important;
	color: white !important;
}
.circle_category{
		width: auto;
    height: 37px;
    float: right;
    
    padding-top: 10px;
    margin-right: -15px;
    margin-top: -10px;
    font-size: 19px;
    padding-left: 12px;
    padding-right: 12px;
}
.html_bg{
	background: #0046FF;
    color: #fff;
}
.php_bg{
	background: #FF6A6A;
    color: #fff;
}
.js_bg{
	background: #B7C3C3;
    color: #fff;
}
.mysql_bg{
	background: #789FFF;
    color: #fff;
}
.other_bg{
	background: #333;
    color: #fff;
}
